@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
body {
	background-color: rgb(39, 39, 39);
	color: rgb(167, 90, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}
.logo-and-welcome {
	/*font ↓*/
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	font-size: 23px;
	letter-spacing: 1px;
	font-style: italic;
	/*box ↓*/
	cursor: default;
}

/* PLAYLIST_LOGO */

h1 {
	/*font ↓*/
	font-family: 'Tiny5', sans-serif;
	font-weight: normal;
	font-size: 70px;
	font-style: normal;
	letter-spacing: 3px;
	text-shadow: 1px 1px 14px rgba(127, 0, 217, 0.966);
	/*box ↓*/
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px solid rgba(127, 0, 217, 0.608); /*Толщина и цвет рамки*/
	border-radius: 50px; /*края*/
	padding: 10px 70px 10px 70px; /*Внутренние отступы*/
	background-color: transparent; /*Фоновый цвет*/
	box-shadow: 2px 2px 12px rgb(127, 0, 217); /*Тень*/
	margin: 20px 450px 30px 450px; /*Внешние отступы*/
}

.start-info {
	/*box ↓*/
	border: 2px solid rgba(127, 0, 217, 0.608); /*Толщина и цвет рамки*/
	border-radius: 50px; /*края*/
	background-color: transparent; /*Фоновый цвет*/
	text-align: center;
	padding: 15px 35px 15px 35px;
	box-shadow: inset 0px 0px 9px rgb(127, 0, 217);
	/*font ↓*/
	color: rgba(240, 248, 255, 0.87);
	text-shadow: 1px 1px 14px rgba(240, 248, 255, 0.109);
}

.user-info {
	/*font ↓*/
	color: rgba(240, 248, 255, 0.87);
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 0px;
	text-shadow: 1px 1px 14px rgba(240, 248, 255, 0.109);
	/*box ↓*/
	text-decoration: none;
	width: fit-content;
	border: 2px solid rgba(127, 0, 217, 0.608); /*Толщина и цвет рамки*/
	border-radius: 50px; /*края*/
	background-color: transparent; /*Фоновый цвет*/
	text-align: left;
	padding: 18px 40px 18px 30px;
	box-shadow: inset 0px 0px 9px rgb(127, 0, 217);
	cursor: default;
}

.input-ofdata {
	/*font ↓*/
	color: rgb(167, 90, 255);
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0px;
	font-style: normal;
	/*box ↓*/
	background-color: rgba(114, 114, 114, 0.434);
	box-sizing: border-box;
	border-radius: 2px;
	border: transparent;
	padding: 3px 2px 3px 10px;
	margin: 5px 5px 20px 0px;
}
.input-ofdata::placeholder {
	color: rgba(167, 90, 255, 0.741);
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0px;
	font-style: italic;
}

/* .input-fields {
	display: flex;
	justify-content: center;
	align-items: center;
}
 */
.add-gameBtn {
	/*box ↓*/
	background-color: rgba(167, 90, 255, 0.741);
	box-sizing: border-box;
	border: transparent;
	box-shadow: 0px 0px 10px rgb(71, 71, 71);
	border-radius: 20px;
	padding: 2px 15px 2px 15px;
	text-align: center;
	cursor: pointer;
	color: #ffffffb4;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0px;
}

.add-gameBtn:hover {
	opacity: 0.9;
}

.filter {
	background-color: rgba(167, 90, 255, 0.741);
	box-sizing: border-box;
	border: transparent;
	box-shadow: 0px 0px 10px rgb(71, 71, 71);
	border-radius: 20px;
	padding: 2px 15px 2px 15px;
	margin-left: 3px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	cursor: pointer;
	color: #ffffffb4;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 0px;
}

.filter-option {
	background-color: rgba(167, 90, 255, 0.741);
	box-sizing: border-box;
	border: transparent;
	box-shadow: 0px 0px 10px rgb(71, 71, 71);
	border-radius: 20px;
	padding: 2px 15px 2px 15px;
	margin-left: 3px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	cursor: pointer;
	color: #ffffffb4;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0px;
}

.reset {
	background-color: rgb(62, 23, 23);
	box-sizing: border-box;
	border: transparent;
	box-shadow: 0px 0px 5px rgb(118, 43, 43);
	border-radius: 20px;
	padding: 2px 15px 2px 15px;
	margin-left: 3px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	cursor: pointer;
	color: #ffffffb4;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 0px;
}

.error-message {
	color: rgba(225, 28, 28, 0.711);
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	font-size: 15px;
	font-style: italic;
	letter-spacing: 1px;
	text-shadow: 1px 1px 14px rgba(240, 248, 255, 0.109);
	text-align: center;
}

.filter:hover,
filter-option:hover,
reset:hover,
.done-btn {
	opacity: 0.9;
}

.gamestable {
	width: 100%;
	cursor: default;
}

.gamestable th {
	padding: 6px;
	border: 1px solid black;
	border-radius: 17px;
	background-color: rgb(61, 61, 61);
	/*font*/
	font-family: 'Tiny5', sans-serif;
	font-weight: normal;
	font-size: 23px;
	font-style: normal;
	letter-spacing: 1px;
}
.hiddenth {
	visibility: hidden;
}

.gamestable tr,
td {
	padding: 3px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: rgb(61, 61, 61);
	/*font*/
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 1px;
	font-style: normal;
}

.gamestable td:first-child,
td:nth-child(4),
td:nth-child(5),
td:nth-child(6),
td:nth-child(7) {
	text-align: center;
}

.done-btn {
	background-color: rgba(167, 90, 255, 0.741);
	box-sizing: border-box;
	border: transparent;
	box-shadow: 0px 0px 10px rgb(71, 71, 71);
	border-radius: 20px;
	padding: 2px 15px 2px 15px;
	margin-left: 3px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	cursor: pointer;
	color: #00f4af;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 1px;
}

/* .down-info {
	text-align: center;
	justify-content:center;
	flex-direction: column;
	justify-content: flex-end;
	height: 100vh;
	padding: 20px;
	box-sizing: border-box;
}
	color: rgba(240, 248, 255, 0.87);
	text-shadow: 1px 1px 14px rgba(240, 248, 255, 0.109);
	position::before;
}
*/
